.App {
  text-align: center;
}

.logo {
  height: 50vmin;
  pointer-events: none;
}

.main-header {
  height: 2em;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {

}

.main-footer {
  
}

.App-link {
  color: #61dafb;
}
