.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header h1 {
    font-size: .7em;
    font-style: italic;
    color: lightslategray;
}

.header img {
    width: 27em;
    height: auto;
}