.header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header p1 {
    font-size: .7em;
    font-style: italic;
    color: lightslategray;
}

.header img {
    width: 30em;
    height: auto;
}