.app {
    text-align: center;
  }
  
  .logo {
    height: 50vmin;
    pointer-events: none;
  }
  
  .main-header {
    height: 2em;
    margin-bottom: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  
  .main-header h1 {
    margin-bottom: 5px;
  }
  
  .main-header p {
    font-size: smaller;
    font-style: italic;
  }
  
  .main-content {
  
  }
  
  .main-footer {
    
  }
  
  .App-link {
    color: #61dafb;
  }
  