h1 {
  text-align: center;
}

td,
th {
  border: 2px solid grey;
  padding: 1rem;
}

thead {
  background-color: #383838;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
  text-align: center;
  vertical-align: middle;
}

.content {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
