.header {
    /* Sides are 16 b/c that makes the header wider than the full table */
    padding: 15px 16px;
}

.header h1 {
    font-size: .7em;
    font-style: italic;
    color: lightslategray;
}

.header img {
    width: 27em;
    height: auto;
}